@import "common/_variables";
@import "~bootstrap/scss/bootstrap";

//sick
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";

//fancy box
@import "~@fancyapps/ui";
//@import "~fancybox/dist/scss/jquery.fancybox.scss";




// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss


@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1400px
);

@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/reboot';
@import '../../node_modules/bootstrap/scss/grid';
@import '../../node_modules/bootstrap/scss/utilities';

@import "../../node_modules/slick-carousel/slick/slick.scss";
//fancybox 
@import "@fancyapps/ui/dist/fancybox.css";



// endbower

@import "common/_fonts";
@import "common/_global";
@import "common/_theme";
@import "common/_variables";
@import "common/_utilities";


@import "components/_buttons";
@import "components/_forms";
@import "components/_cards";
@import "components/_card-with-inner-body";
@import "components/_modal";
@import "components/_slick";
@import "layouts/_header";
@import "layouts/_footer";
@import "layouts/_pages";


//common parts

@import "parts/_mobile_header";
@import "parts/_block_popup";